body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #a0a0a0;
  height: 60px;
  width: 100%;
}

.header-container{
  display: flex;
  align-items: center;
  height: inherit;
}

.header-container h2{
  margin: 0 10%;
}

.users-list .prev-next-buttons{
  display: flex;
  justify-content: flex-end;
}

.users-list .users-list-content{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  margin: 20px 0;
}

.users-list .users-list-content > div{
  background-color: #60a0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.users-list .users-list-content>div>img{
  width: 65px;
  height: 65px;
  margin: 10px 0;
  border-radius: 10px;
}


.go-back{
  cursor: pointer;
  margin-bottom: 30px;
}
.user-page{
  width: 80%;
  margin: 30px auto;
}

.user-page-content{
  display: flex;
  justify-content: space-between;
}

.user-page-content > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page-content > div:first-child > img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.search-input{
  margin: 10px;
  padding: 5px;
}